@charset "utf-8";
@import url("rwd.css");
/* CSS Document */

*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}

html, body{
	font-family:Verdana, Geneva, sans-serif, "微軟正黑體";
}

/* header */

header{
	padding:10px 0px;
	color:#fff;
	text-align:center;
	position:relative;
}


.menu{
	display:block;
	position:absolute;
	width:30px;
	height:30px;
	background:url(../images/menu.png);
	right:30px;
	top:30px;
}

.menu:hover{
	cursor:pointer;
}

/* nav */

nav{
	margin:auto;
	
	text-align:center;
	display: none;
	border-top:solid #f8f2f2 3px;
}

nav ul{
	margin:0;
}

nav ul li{
	display: block;
	border-bottom:solid #c3c3b7 1px;
}

nav ul li a{
	display:inline-block;
	color:#8e2a0a;
	letter-spacing:5px;
	text-decoration:none;
	width:100%;
	padding:17px 45px;
}

nav ul li a:hover{
	color:#F6A4A3;
	background:#7B151E;
}

/*banner*/
.banner{
	display:block;
	position:relative;
	overflow:hidden;
	width:100%;
	height:200px;
	background:url(../images/banner_about_mobile.jpg) no-repeat;
	background-size:100%;
}

/*arrow*/
.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
  display: none;
}
.arrow:hover{
	cursor: pointer;
}
.arrow {
  width: 30px;
  height: 30px;
  top: 94%;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 4px #8e2a0a solid;
  border-bottom: 4px #8e2a0a solid;
}

.arrow:before {
  content: "";
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 2px #8e2a0a solid;
  border-bottom: 2px #8e2a0a solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}
@keyframes arrow {
	0% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	  transform: translate(-10px, -10px);
	}
  }
/*content*/
main{
	position:relative;
	margin:60px auto 20px;
	width:80%;
	overflow:hidden;
	/*background:url(../images/bg.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;*/
}
/* make swiper WRD */
.swiper-container img {
	width: 100%;
	height: auto;
}

/*imgbox0*/
#imgbox0{
	width: 80%;
	margin: 70px auto;
}
#imgbox0 img, .desbox{
	float:left;
	position: relative;
	text-align: left;
}
#imgbox0 img{
	width:100%;
}
#imgbox0 .desbox{
	line-height:2.1em;
	padding:60px 20px;
}
.desbox p{
	text-align:justify; /*文字等寬*/
	font-size: 18px;
}

.desbox{
	padding-top: 5px;
}
h1{
	line-height:1.5em;	
}

h5{
	color:#999;
	border-bottom:solid #f8f2f2 3px;
	line-height:2.6em;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

h4{
	color:#999;
	border-bottom:solid #fff 3px;
	line-height:2.6em;
	margin-bottom: 10px;
	padding-bottom: 5px;
}
h2{
	color: #8e2a0a;
	margin-bottom: 5px;
	font-size: 22px;
}

/*imgbox*/
#imgbox{
	width: 80%;
	margin: 70px auto;
	background: #f8f2f2;
}
#imgbox img, .desbox{
	float:left;
	position: relative;
}
#imgbox img{
	width:100%;
}
#imgbox .desbox{
	line-height:2.1em;
	padding:60px 45px 20px;
}

.row {
	width: 100%;
	margin: 0px auto;
}
.row img{
	width: 100%;
}
.team-intro {
	background: #f8f2f2;
	padding:50px 30px;
	width: 85%;
	margin: 0px auto 100px;
	text-align: center;
}
.top-intro {
	position: relative;
}
.team-intro .desbox{
	line-height:2.1em;
}
.people {
	width: 100%;
	position: relative;
}
.teaminfo{
	display: inline-block;
  	 /*設定寬度，否則會以內容元素中最寬的元素寬度作為預設*/
	width: 250px;
	height: 400px;
 	/*設定邊寬作為檢視*/
	text-align: center;
	border: solid #fff 2px;
	vertical-align: bottom;
}
.teambox{
	color:#000;
	display: inline-block;
	margin: 2em auto;
}
.teambox p{
	text-align: left;
	width: 200px;
	margin: auto;
}
.teaminfo img{
	width: 200px;
	weight: 200px;
	margin: 15px auto 5px;
}


/* footer */

footer{
	text-align:center;
	padding:20px;
	color:#8e2a0a;
	background:#f8f2f2;
}
.footerbox{
	margin: 0 auto 20px;
}
.footerinfo{
	text-align:left;
	width:290px;
	line-height: 1.5em;
}
article{
	display: inline-block;
	width: 100px;
	height: 50px;
	margin: 5px;
}
article img{
	width: 100px;
	weight: 50px;
	margin: 5px auto;
}
h6{
	text-align: left;
	font-size: 16px;
}


/*===================rwd details===========================*/

/*For tablets*/
@media only screen and (min-width:768px){
	nav{
		display:block;
	}
	
	nav ul li{
		display:inline-block;/*讓選單水平排列*/
		border-bottom: solid #c3c3b7 0px;
	}
	
	.menu{
		display:none;
	}/*漢堡選單，希望是視窗小到手機的時候才會出現*/
	
	.banner{
		height: 500px;
		background: url(../images/banner_about.jpg) no-repeat;
	}
}


/*For desktop*/
@media only screen and (min-width:1200px){
	.banner{
		width: 100%;
		background:url(../images/banner_about.jpg) no-repeat;
		background-size: 100% auto;
	}
	.arrow, .arrow:before{
		display:block;
	}
	
}