@charset "utf-8";
@import url("rwd.css");
/* CSS Document */

*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}

html, body{
	font-family:Verdana, Geneva, sans-serif, "微軟正黑體";
}

/* header */

header{
	padding:10px 0px;
	color:#fff;
	
	text-align:center;
	position:relative;
}

.menu{
	display:block;
	position:absolute;
	width:30px;
	height:30px;
	background:url(../images/menu.png);
	right:30px;
	top:30px;
}

.menu:hover{
	cursor:pointer;
}

/* nav */

nav{
	margin:auto;
	
	text-align:center;
	display: none;
	border-top:solid #f8f2f2 3px;
}

nav ul{
	margin:0;
}

nav ul li{
	display: block;
	border-bottom:solid #c3c3b7 1px;
}

nav ul li a{
	display:inline-block;
	color:#8e2a0a;
	letter-spacing:5px;
	text-decoration:none;
	width:100%;
	padding:17px 45px;
}

nav ul li a:hover{
	color:#F6A4A3;
	background:#7B151E;
}

/*banner*/
.banner{
	display:block;
	position:relative;
	overflow:hidden;
	width:100%;
	height:200px;
	background:url(../images/banner_information_mobile.jpg) no-repeat;
	background-size:100%;
	
}

/*arrow*/
.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
  display: none;
}

.arrow {
  width: 30px;
  height: 30px;
  top: 96%;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 4px #8e2a0a solid;
  border-bottom: 4px #8e2a0a solid;
}

.arrow:before {
  content: "";
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 2px #8e2a0a solid;
  border-bottom: 2px #8e2a0a solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}
@keyframes arrow {
	0% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	  transform: translate(-10px, -10px);
	}
  }

/*content*/
.row{
	width: 100%;
	padding:60px 0px;
	margin:auto;
}
.row img{
	width:100%;
}

.red {
	background:#8e2a0a;
	margin:60px 0px; 
}
.white {
	background: #fff;
}
.work > .row {
	width: 75%;
	margin: 0 auto;
}

.defbox{
	width: 290px;
	line-height:2em;
	box-sizing:border-box;
	padding:100px 0px;
	/*background:#8e2a0a;*/
	color:#e7ddd3;
	margin: auto;
	letter-spacing: 3px;
}
.defbox p{
	text-align:justify; /*文字等寬*/
	font-size: 20px;
	text-align:center;
	line-height: 1.8em;
}
.desbox{
	line-height: 2em;
	color:#8e2a0a;
	margin-bottom: 30px;
	padding: 0px 30px;
	
}
h1{
	line-height: 1.5em;
	color:#8e2a0a;
	border-bottom:solid #f8f2f2 3px;
	padding: 0px 20px 12px;
	margin-bottom: 30px;
	/*font-weight:bold;*/
}
h2::before{
	content: url(../images/round2_marketing_2.png);
}
h2{
	display: inline-block;
	font-size: 20px;
	color: #000;
}
.desbox > p{
	display: inline-block;
	margin-bottom: 20px;
	font-size: 18px;
	color: #000;
}

#imgbox img{ 
	float:left;
	width:100%;
	padding:7.4px;
	/*background:#8e2a0a紅色;*/
}

#imgbox{
	font-size: 20px;
    line-height: 30px;
    letter-spacing: 3px;
	padding:80px;
	border-bottom:solid #f8f2f2 2px;
}

#imgbox0 img{ 
	float:left;
	width:100%;
	padding:5px;
	background:#f2f0f1;
}

#imgbox0{
	font-size: 20px;
  line-height: 30px;
  letter-spacing: 3px;
	width: 90%;
	margin: 30px auto;
	border-bottom:solid #f8f2f2 2px;
}

.title{
	text-align:left;
	color:#8e2a0a;
	letter-spacing:2px;
	font-size:30px;
	line-height:1.5em;
	margin:5px auto 10px;
	font-weight:bold;
}
.dot{
	color: #e7ddd3;
	margin: 30px 0px 40px;
	font-size: 48px;
	text-align: center;
	border-radius: 50%;
	border: #fff solid 1px;
	width: 280px;
	height: 280px;
	line-height: 280px;
	display: inline-block;
}
.desbox0 p{
	
	font-size: 18px;
}
.desbox0{
	line-height:2.1em;
	box-sizing:border-box;
	text-align:justify; /*文字等寬*/
}
h3::before{
	content: url(../images/round2_marketing_2.png);
}
h3{
	font-size: 20px;
}
h5{
	font-size: 18px;
	color: #8e2a0a;

}
small{
	border:#000 solid 1px;
	padding:3px;
}

/*video*/
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	margin-top: 40px;
	height: 0;
	overflow: hidden;
}	
.video-container iframe, .video-container object, .video-container embed {
	position: absolute;
	top: 0;left: 0;
	width: 100%;
	height: 100%;
}

/*map*/
.iframe-rwd {
    position: relative;
    padding-bottom: 35%;
    padding-top: 30px;
    height: 0;
	overflow: hidden;

}
.iframe-rwd iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* footer */

footer{
	text-align:center;
	padding:20px;
	color:#8e2a0a;
	background:#f8f2f2;
}
.footerbox{
	margin: 0 auto 20px;
}
.footerinfo{
	text-align:left;
	width:290px;
	line-height: 1.5em;
}
article{
	display: inline-block;
	width: 100px;
	height: 50px;
	margin: 5px;
}
article img{
	width: 100px;
	weight: 50px;
	margin: 5px auto;
}
h4{
	text-align: left
}

/*===================rwd details===========================*/

/*For tablets*/
@media only screen and (min-width:768px){

	nav{
		display:block;
	}
	
	nav ul li{
		display:inline-block;/*讓選單水平排列*/
		border-bottom: solid #c3c3b7 0px;
	}
	
	.menu{
		display:none;
	}/*漢堡選單，希望是視窗小到手機的時候才會出現*/
	
	.banner{
		height: 500px;
		background: url(../images/banner_information.jpg) no-repeat;
	}
	
}


/*For desktop*/
@media only screen and (min-width:1200px){
	
	.banner{
		/* height: 500px; */
		width: 100%;
		background:url(../images/banner_information.jpg) no-repeat;
		background-size: 100% auto;
	}
	.arrow, .arrow:before{
		display:block;
	}
}