@charset "utf-8";
@import url("rwd.css");
/* CSS Document */

*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}

html, body{
	font-family:Verdana, Geneva, sans-serif, "微軟正黑體";
}

/* header */

header{
	padding:10px 0px;
	color:#fff;
	text-align:center;
	position:relative;
}

.menu{
	display:block;
	position:absolute;
	width:30px;
	height:30px;
	background:url(../images/menu.png);
	right:30px;
	top:30px;
}

.menu:hover{
	cursor:pointer;
}

/* nav */

nav{
	margin:auto;
	text-align:center;
	display: none;
	border-top:solid #f8f2f2 3px;
}

nav ul{
	margin:0;
}

nav ul li{
	display: block;
	border-bottom:solid #c3c3b7 1px;
}

nav ul li a{
	display:inline-block;
	color:#8e2a0a;
	letter-spacing:5px;
	text-decoration:none;
	width:100%;
	padding:17px 45px;
}

nav ul li a:hover{
	color:#F6A4A3;
	background:#7B151E;
}

/*banner*/
.banner{
	display:block;
	position:relative;
	overflow:hidden;
	width:100%;
	min-width:620px;
	height:210px;
	background:url(../images/banner_marketing.jpg) no-repeat;
	background-size:100%;
	
}

/* div */

.desbox{
	line-height:2.1em;
	box-sizing:border-box;
	
	/*background:#8e2a0a;*/
	/*font-weight:bold;*/
	/*border:solid #f2f0f1灰色 2px;*/
}
.desbox p{
	text-align:justify; /*文字等寬*/
	font-size: 18px;
}
.desbox img{
	float:left;
}
h3::before{
	content: url(../images/round2_marketing_2.png);
}

small{
	border:#000 solid 1px;
	padding:3px;
}


#imgbox img{ 
	
	float:left;
	width:100%;
	padding:5px;
	
	/*background:#8e2a0a紅色;*/
	-ms-transform:scale(1,1);
	-webkit-transform:scale(1,1);
	transform:scale(1,1);
	
	transition:transform 1s;
	-webkit-transition:transform 1s;
	
	transition-timimg-function:ease-in-out;
	-webkit-transition-timimg-function:ease-in-out;
}

#imgbox img:hover{
	/*background:#8e2a0a;
	transition:background 2s;
	-webkit-transition:background 2s;*/
	-ms-transform:scale(1.02,1.02);
	-webkit-transform:scale(1.02,1.02);
	transform:scale(1.02,1.02);
	box-shadow:2px 2px 8px #8e2a0a;
	/*border-radius:10px;*/
}

#imgbox{
	width: 80%;
	margin:100px auto;
	/*border-bottom:solid #f8f2f2 2px;*/

}

#imgbox0 img{ 
	float:left;
	width:100%;
	padding:7px;
	background:#f2f0f1;
	
}

#imgbox0{
	width: 80%;
	margin: 60px auto 100px;

	/*border-bottom:solid #f8f2f2 2px;*/
}

h1{
	line-height: 1.5em;
	text-align: center;
	color:#8e2a0a;
	border-bottom:solid #f8f2f2 3px;
	margin-bottom: 30px;
	padding: 0px 20px 12px;
	/*font-weight:bold;*/
}

/*arrow*/
.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
  display: none;
}

.arrow {
  width: 30px;
  height: 30px;
  top: 96%;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 4px #8e2a0a solid;
  border-bottom: 4px #8e2a0a solid;
}

.arrow:before {
  content: "";
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 2px #8e2a0a solid;
  border-bottom: 2px #8e2a0a solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}

/* footer */

footer{
	text-align:center;
	padding:20px;
	color:#8e2a0a;
	background:#f8f2f2;

}


/*===================rwd details===========================*/

/*For tablets*/
@media only screen and (min-width:768px){
	nav{
		display:block;
	}
	
	nav ul li{
		display:inline-block;/*讓選單水平排列*/
		border-bottom: solid #c3c3b7 0px;
	}
	
	.menu{
		display:none;
	}/*漢堡選單，希望是視窗小到手機的時候才會出現*/
	
	#imgbox img{
		width: 80%;
	}
	.banner{
		height: 350px;
	}
	
}


/*For desktop*/
@media only screen and (min-width:1200px){
	#imgbox img{
		width: 50%;
	}
	.banner{
		height: 500px;
	}
	h1{
		text-align: left;
	}
	.arrow, .arrow:before{
		display:block;
	}
}