@charset "utf-8";
/*CSS Document */

html, body{
	margin:0;
	padding:0;	
}
/*
section{
	position:relative;
	width:100%;
	overflow:hidden;
}

.content{
	position:relative;
	width:100%;
	overflow:hidden;
}

.content img{
	position:absolute;
	top: 0;
	left: 0;
	overflow:hidden;
}
*/

.content{
	display:block;
	position:relative;
	width:100%;
	
}
.content img {
	width: 100%;
}